name: Model Training (Daily)

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  training_pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements_training.txt') }}

      - name: Install training dependencies only
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_training.txt

      - name: Train model
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python src/training_pipeline/train_model.py
